{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="{% static 'user_account/bootstrap/css/bootstrap.min.css' %}">
        <link rel="stylesheet" href="{% static 'user_account/bootstrap/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'user_account/css/css/all.css' %}">
        <link rel="stylesheet" href="{% static 'user_account/vendor/boxicons/css/boxicons.min.css' %}" >
<!--<link rel="stylesheet" href="{% static 'User_account/css/font-awesome.css' %}">-->
        <link rel="stylesheet" href="{% static 'user_account/main.css' %}">
        <link rel="stylesheet" href="{% static 'user_account/vendor/boxicons/css/boxicons.min.css' %}" > 
        <title>rentalink_systems</title>
        {% block css %}
        <style>
.mycontainer{
    width: 100%;
    /* margin-left: 0.5%; */
}
 .main-content{
	width: 100%;
	border-radius: 20px;
	box-shadow: 0 5px 5px rgba(0,0,0,.4);
	margin: 5em auto;
	display: flex;
}
.company__info{
	background-color:#1E90FF;
	border-top-left-radius: 20px;
	border-bottom-left-radius: 20px;
	display: flex;
	flex-direction: column;
	justify-content: center;
	color: #fff;
}
.fa-android{
	font-size:3em;
}
@media screen and (max-width: 640px) {
	.main-content{width: 90%;}
	.company__info{
		display: none;
	}
	.login_form{
		border-top-left-radius:20px;
		border-bottom-left-radius:20px;
	}
}
@media screen and (min-width: 642px) and (max-width:800px){
	.main-content{width: 70%;}
}
.row > h2{
	color:#1E90FF;
}
.login_form{
	background-color: #fff;
	border-top-right-radius:20px;
	border-bottom-right-radius:20px;
	border-top:1px solid #ccc;
	border-right:1px solid #ccc;
}
form{
	padding: 0 2em;
}
.form__input{
	width: 100%;
	border:0px solid transparent;
	border-radius: 0;
	border-bottom: 1px solid #aaa;
	padding: 1em .5em .5em;
	padding-left: 2em;
	outline:none;
	margin:1.5em auto;
	transition: all .5s ease;
}
.form__input:focus{
	border-bottom-color: #008080;
	box-shadow: 0 0 5px rgba(0,80,80,.4); 
	border-radius: 4px;
}
.login_btn{
	transition: all .5s ease;
	width: 70%;
	border-radius: 30px;
	color:#008080;
	font-weight: 600;
	background-color: #fff;
	border: 1px solid #008080;
	margin-top: 1.5em;
	margin-bottom: 1em;
}
.login_btn:hover, .login_btn:focus{
	background-color: #008080;
	color:#fff;
} 
        
        </style> 
        
        {% endblock %}
    </head>
    
    <body>
        <div class="container-fluid m-0 p-0 mx-auto">
            <div class="mycontainer m-0 p-0 ">
                <!--<div class="container-fluid px-0">-->
                    <nav class="navbar navbar-expand-md bg-primary  sticky-top"> 
                        <a class="navbar-brand " href="#">
                            <!-- <img src="{% static 'user_account/images/rentalink1.png' %}" width="50px" ><strong class="text-primary">rentalinks</strong> -->
                            <i class=" bx bxs-home-smile bx-md text-white" ></i><strong class="text-white">rentalinks</strong>
                        </a> 
                        <button class="navbar-toggler mr-3 border border-primary" type="button" data-toggle="collapse" data-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation"> 
                            <i class="fa fa-bars  text-primary"></i> 
                        </button>
                        <div class="collapse navbar-collapse" id="navbarNav">
                            <ul class="navbar-nav m-xl-auto bg-primary">
                                <li class="nav-item">
                                    <a class="nav-link" href="#" id="navbarDropdown1" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Tenant services
                                        <span class="fa fa-angle-down"></span>
                                    </a>
                                    <div class="dropdown-menu" id="dropdown-menu1" aria-labelledby="navbarDropdown1">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row d-flex tab">
                                                        <div class="fa-icon text-center"> <i class="fa fa-dollar-sign"></i> </div>
                                                        <div class="d-flex flex-column"> <a class="dropdown-item" href="#">
                                                                <h6 class="mb-0">Online Rent Payment</h6> <small class="text-muted">paying rent</small>
                                                            </a> </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row d-flex tab">
                                                        <div class="fa-icon text-center"> <span class="fa fa-id-card"></span> </div>
                                                        <div class="d-flex flex-column"> <a class="dropdown-item" href="#">
                                                                <h6 class="mb-0">Online applications</h6> <small class="text-muted">booking of rooms</small>
                                                            </a> </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row d-flex tab">
                                                        <div class="fa-icon text-center"> <span class="fa fa-gavel"></span> </div>
                                                        <div class="d-flex flex-column"> <a class="dropdown-item" href="#">
                                                                <h6 class="mb-0">maintenance requests</h6> <small class="text-muted">repairs to be done</small>
                                                            </a> </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row d-flex tab">
                                                        <div class="fa-icon text-center"> <span class="fa fa-store"></span> </div>
                                                        <div class="d-flex flex-column"> <a class="dropdown-item" href="#">
                                                                <h6 class="mb-0">stores</h6> <small class="text-muted">availability of stores</small>
                                                            </a> </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-6">
                                                    <div class="row d-flex tab">
                                                        <div class="fa-icon text-center"> <span class="fa fa-user-alt"></span> </div>
                                                        <div class="d-flex flex-column"> <a class="dropdown-item" href="#">
                                                                <h6 class="mb-0">Renter Profile</h6> <small class="text-muted">profile of the renter</small>
                                                            </a> </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-6">
                                                    <div class="row d-flex tab">
                                                        <div class="fa-icon text-center"> <span class="fa fa-search-plus"></span> </div>
                                                        <div class="d-flex flex-column"> <a class="dropdown-item" href="#">
                                                                <h6 class="mb-0">explore rentals</h6> <small class="text-muted">availability of houses</small>
                                                            </a> </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                               
                                <li class="nav-item"> 
                                    <a class="nav-link" href="#" id="navbarDropdown2" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        landlord services
                                        <span class="fa fa-angle-down"></span>
                                    </a>
                                    <div class="dropdown-menu" id="dropdown-menu2" aria-labelledby="navbarDropdown2">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="row d-flex tab">
                                                        <div class="fa-icon text-center"> <span class="fa fa-dollar-sign"></span> </div>
                                                        <div class="d-flex flex-column"> <a class="dropdown-item" href="#">
                                                                <h6 class="mb-0">Online payment</h6> <small class="text-muted">collect rent online</small>
                                                            </a> </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="row d-flex tab">
                                                        <div class="fa-icon text-center"> <span class="fa fa-file-excel"></span> </div>
                                                        <div class="d-flex flex-column"> <a class="dropdown-item" href="#">
                                                                <h6 class="mb-0">Accounting</h6> <small class="text-muted">manage your accounting</small>
                                                            </a> </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="row d-flex tab">
                                                        <div class="fa-icon text-center"> <span class="fa fa-comments"></span> </div>
                                                        <div class="d-flex flex-column"> <a class="dropdown-item" href="#">
                                                                <h6 class="mb-0"> instant communication</h6> <small class="text-muted">send messages to each tenant</small>
                                                            </a> </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="row d-flex tab">
                                                        <div class="fa-icon text-center"> <span class="fa fa-building"></span> </div>
                                                        <div class="d-flex flex-column"> <a class="dropdown-item" href="#">
                                                                <h6 class="mb-0">Automatic listing</h6> <small class="text-muted">vacant rooms posted to tenants</small>
                                                            </a> </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="row d-flex tab">
                                                        <div class="fa-icon text-center"> <span class="fa fa-search"></span> </div>
                                                        <div class="d-flex flex-column"> <a class="dropdown-item" href="#">
                                                                <h6 class="mb-0">Tenant screening</h6> <small class="text-muted">get info about tenants</small>
                                                            </a> </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="row d-flex tab">
                                                        <div class="fa-icon text-center"> <span class="fa fa-file-pdf"></span> </div>
                                                        <div class="d-flex flex-column"> <a class="dropdown-item" href="#">
                                                                <h6 class="mb-0">Report generation</h6> <small class="text-muted">printable reports</small>
                                                            </a> </div>
                                                    </div>
                                                </div>
                                            </div>
                                            <div class="row">
                                                <div class="col-md-4">
                                                    <div class="row d-flex tab">
                                                        <div class="fa-icon text-center"> <span class="fa fa-store"></span> </div>
                                                        <div class="d-flex flex-column"> <a class="dropdown-item" href="#">
                                                                <h6 class="mb-0">Store management</h6> <small class="text-muted">managing online application for storage</small>
                                                            </a> </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="row d-flex tab">
                                                        <div class="fa-icon text-center"> <span class="fa fa-gavel"></span> </div>
                                                        <div class="d-flex flex-column"> <a class="dropdown-item" href="#">
                                                                <h6 class="mb-0">Maintenance requests</h6> <small class="text-muted">manage maintenance  requests</small>
                                                            </a> </div>
                                                    </div>
                                                </div>
                                                <div class="col-md-4">
                                                    <div class="row d-flex tab">
                                                        <div class="fa-icon text-center"> <span class="fa fa-paper-plane"></span> </div>
                                                        <div class="d-flex flex-column"> <a class="dropdown-item" href="#">
                                                                <h6 class="mb-0">Online notices </h6> <small class="text-muted">send notices online</small>
                                                            </a> </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item"> 
                                    <a class="nav-link" href="#" id="navbarDropdown3" role="button" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                                        Property Types
                                        <span class="fa fa-angle-down"></span>
                                    </a>
                                    <div class="dropdown-menu" id="dropdown-menu3" aria-labelledby="navbarDropdown3">
                                        <div class="container">
                                            <div class="row">
                                                <div class="col-lg-6">
                                                    <div class="row d-flex tab">
                                                        <div class="fa-icon text-center"> <span class="fa fa-feed"></span> </div>
                                                        <div class="d-flex flex-column"> <a class="dropdown-item" href="#">
                                                                <h6 class="mb-0">Student Housing</h6> <small class="text-muted">For students and residents</small>
                                                            </a> </div>
                                                    </div>
                                                </div>
                                                <div class="col-lg-6">
                                                    <div class="row d-flex tab">
                                                        <div class="fa-icon text-center"> <span class="fa fa-question"></span> </div>
                                                        <div class="d-flex flex-column"> <a class="dropdown-item" href="#">
                                                                <h6 class="mb-0">Commercial properties</h6> <small class="text-muted">For businesses</small>
                                                            </a> </div>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                </li>
                                <li class="nav-item login mr-5">
                                    <button type="button" class="nav-link button border border-white" data-toggle="modal" 
                                    data-target="#login">
                                        login
                                      </button>
                                    <!-- <a class="nav-link button border border-primary " 
                                    href="{% url 'user_account:login_template' %}">login</a> -->
                                </li>
                                <li class="nav-item ">
                                    <a class="nav-link button  text-center" 
                                    href="{% url 'user_account:register_template' %}">signup</a>
                                </li>
                            </ul>
                            
                        </div>
                    </nav>
                    <!--This is the row below navigation-->
                    <div class="row p-0 m-0 " id="section1" 
                    style="height: 400px;background-image: url({% static 'User_account/images/section1.jpg' %});
                    background-size: cover;background-repeat: no-repeat;opacity: 1;"> 
                    <div class="image_text mx-auto text-center mb-5">
                        
                            
                            <div class="text-center">
                                {% for m in messages %}
                                <div class="text-{{m.tags}} pt-3 text-center">
                                    <strong>{{ m }}</strong>
                                </div>
                                    
                                {% endfor %}
                            </div>
                           
                        
                        <div class="welcome_text ">rentalinks, best solution for tenants and landlords</div>
                        <div class="description_text btn mt-2"><a href="{% url 'user_account:register_template' %}">get started </a></div>
                    </div>     
                    </div>
                    <!--this is the row that contains the features-->
                    <div class="row mt-5 mb-5 ">
                        <div class="col-12 text-center"><h1 class="pt-5 pb-1 text-secondary">Simple & Effective Features</h1>
                        </div>
                        <div class="col-md-10 mx-auto" id="accordion ">

                            <div class="card">
                              <div class="card-header stretched-link">
                                <button class="btn btn-link w-100 text-left" data-toggle="collapse" data-target="#collapseOne" 
                                >
                                  <i class="fa fa-check circle mr-5 ml-5 pr-5 text-success"></i>
                                  <i class="fa fa-dollar-sign p-2 text-success"></i>Online payment
                                </button>
                                <!-- <a class="card-link " data-toggle="collapse" href="#collapseOne">
                                  Collapsible Group Item #1
                                </a> -->
                              </div>
                              <div id="collapseOne" class="collapse show" data-parent="#accordion">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <img src="{% static 'user_account/images/mpesa.png' %}" alt="image" width="200px" class="float-right ">
                                        </div>
                                        <div class="col-sm-8">
                                         <p class="text-secondary pt-3">
                                             Payment made easier with Rentalinks systems. You can pay for your rent, storage services and any other
                                             services with just your Mpesa. The landlords can collect payment for their rent and any accept other payment
                                             for other services. 
                                             
                                            </p>
                                        </div>
                                    </div>
                                  
                                </div>
                              </div>
                            </div>
                          
                            <div class="card">
                              <div class="card-header">
                                <button class="btn btn-link collapsed w-100 text-left" data-toggle="collapse" data-target="#collapseTwo"
                                       >
                                       <i class="fa fa-check circle mr-5 ml-5 pr-5 text-success"></i>
                                        <i class="fa fa-building p-2 text-success"></i>
                                        Automatic listing
                                      </button>
                              </div>
                              <div id="collapseTwo" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <img src="{% static 'user_account/images/mpesa.png' %}" alt="image" width="200px" class="float-right ">
                                        </div>
                                        <div class="col-sm-8">
                                         <p class="text-secondary pt-3">
                                             Payment made easier with Rentalinks systems. You can pay for your rent, storage services and any other
                                             services with just your Mpesa. The landlords can collect payment for their rent and any accept other payment
                                             for other services. 
                                             
                                            </p>
                                        </div>
                                    </div>
                                </div>
                              </div>
                            </div>
                          
                            <div class="card">
                              <div class="card-header">
                                <button class="btn btn-link collapsed w-100 text-left" data-toggle="collapse" data-target="#collapseThree" 
                                aria-expanded="false" aria-controls="collapseThree">
                                <i class="fa fa-check circle mr-5 ml-5 pr-5 text-success"></i>
                                <i class="fa fa-id-card p-2 text-success"></i>
                                  Online rental applications
                                </button>
                                <!-- <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                                  Collapsible Group Item #3
                                </a> -->
                              </div>
                              <div id="collapseThree" class="collapse" data-parent="#accordion">
                                <div class="card-body">
                                    <div class="row">
                                        <div class="col-sm-4">
                                            <img src="{% static 'user_account/images/mpesa.png' %}" alt="image" width="200px" class="float-right ">
                                        </div>
                                        <div class="col-sm-8">
                                         <p class="text-secondary pt-3">
                                             Payment made easier with Rentalinks systems. You can pay for your rent, storage services and any other
                                             services with just your Mpesa. The landlords can collect payment for their rent and any accept other payment
                                             for other services. 
                                             
                                            </p>
                                        </div>
                                    </div>
                                </div>
                              </div>
                            </div>

                            <div class="card">
                                <div class="card-header">
                                    <button class="btn btn-link collapsed w-100 text-left" data-toggle="collapse" data-target="#collapseFour" 
                                    aria-expanded="false" aria-controls="collapseseven">
                                    <i class="fa fa-check circle mr-5 ml-5 pr-5 text-success"></i>
                                    <i class="fa fa-comments p-2 text-success"></i>
                                      Direct online communication
                                    </button>
                                  <!-- <a class="collapsed card-link" data-toggle="collapse" href="#collapseThree">
                                    Collapsible Group Item #3
                                  </a> -->
                                </div>
                                <div id="collapseFour" class="collapse" data-parent="#accordion">
                                  <div class="card-body">
                                      <div class="row">
                                          <div class="col-sm-4">
                                              <img src="{% static 'user_account/images/mpesa.png' %}" alt="image" width="200px" class="float-right ">
                                          </div>
                                          <div class="col-sm-8">
                                           <p class="text-secondary pt-3">
                                               Payment made easier with Rentalinks systems. You can pay for your rent, storage services and any other
                                               services with just your Mpesa. The landlords can collect payment for their rent and any accept other payment
                                               for other services. 
                                               
                                              </p>
                                          </div>
                                      </div>
                                  </div>
                                </div>
                              </div>
                          
                          </div>

                    </div>
                    <div class="row mt-5 p-0 m-0">



                        
                          
                          <div class="col-md-11 mx-auto border border-secondary  pt-5 pb-5 bg-light text-secondary">
                              <h2 class="text-center mb-4 " style="font-weight: 900;">why landlords and tenants use rentalinks</h2>
                            <div id="client-testimonial-carousel" class="carousel slide" data-ride="carousel" style="height:300px;">
                              <div class="carousel-inner" role="listbox">
                                <div class="carousel-item active text-center p-4">
                                  <blockquote class="blockquote text-center text-primary">
                                    <p class="mb-0 text-primary"><i class="fa fa-quote-left text-primary"></i> It is a fast, efficient and reliable means of 
                                        managing your houses or properties, Its is very convenient.
                                    </p>
                                    <footer class="blockquote-footer">Landlord One  <cite title="Source Title" class="text-info">landlord</cite></footer>
                                    <!-- Client review stars -->
                                    <!-- "fas fa-star" for a full star, "far fa-star" for an empty star, "far fa-star-half-alt" for a half star. -->
                                    <p class="client-review-stars text-secondary">
                                      <i class="fas fa-star"></i>
                                      <i class="fas fa-star"></i>
                                      <i class="fas fa-star"></i>
                                      <i class="fas fa-star-half-alt"></i>
                                      <i class="far fa-star"></i>
                                    </p>
                                    <img src="{% static 'user_account/images/avatar7.png' %}" alt="image" width="100px" class="rounded-circle">
                                  </blockquote>
                                  
                                </div>
                                <div class="carousel-item text-center p-4">
                                  <blockquote class="blockquote text-center text-primary">
                                    <p class="mb-0 text-primary"><i class="fa fa-quote-left text-primary"></i> It is a fast, efficient and reliable means of 
                                        managing your houses or properties, Its is very convenient.
                                    </p>
                                    <footer class="blockquote-footer">Ahmed kimani <cite title="Source Title" class="text-info">tenant</cite></footer>
                                    <!-- Client review stars -->
                                    <!-- "fas fa-star" for a full star, "far fa-star" for an empty star, "far fa-star-half-alt" for a half star. -->
                                    <p class="client-review-stars text-secondary">
                                      <i class="fas fa-star"></i>
                                      <i class="fas fa-star"></i>
                                      <i class="fas fa-star"></i>
                                      <i class="fas fa-star"></i>
                                      <i class="fas fa-star"></i>
                                    </p>
                                    <img src="{% static 'user_account/images/avatar7.png' %}" alt="image" width="100px" class="rounded-circle">
                                  </blockquote>
                                </div>
                                <div class="carousel-item text-center p-4">
                                  <blockquote class="blockquote text-center text-primary">
                                    <p class="mb-0 text-primary"><i class="fa fa-quote-left text-primary"></i> It is a fast, efficient and reliable means of 
                                        managing your houses or properties, Its is very convenient.
                                    </p>
                                    <footer class="blockquote-footer">Julius Peter <cite title="Source Title " class="text-info">landlord</cite></footer>
                                    <!-- Client review stars -->
                                    <!-- "fas fa-star" for a full star, "far fa-star" for an empty star, "far fa-star-half-alt" for a half star. -->
                                    <p class="client-review-stars text-secondary">
                                      <i class="fas fa-star"></i>
                                      <i class="fas fa-star"></i>
                                      <i class="fas fa-star"></i>
                                      <i class="fas fa-star"></i>
                                      <i class="fas fa-star"></i>
                                    </p>
                                    <img src="{% static 'user_account/images/avatar7.png' %}" alt="image" width="100px" class="rounded-circle">
                                  </blockquote>
                                </div>
                              </div>
                              <ol class="carousel-indicators">
                                <li data-target="#client-testimonial-carousel" data-slide-to="0" class="active"></li>
                                <li data-target="#client-testimonial-carousel" data-slide-to="1"></li>
                                <li data-target="#client-testimonial-carousel" data-slide-to="2"></li>
                              </ol>
                            </div>
                          </div>





                    </div>
                    <div class="row mt-5 mb-5" >
                        <div class="col-12 text-left">
                            <h1 class="pl-4 pt-5 text-secondary" style="text-decoration: underline;">Designed For All Property Types</h1>
                            <!-- <p class=" text-secondary">Rentalink systems has the versatility to accommodate each of your properties, <br>
                                from student units to commercial space. Regardless of your portfolio, we’ve got you covered.</p> -->
                        </div>
                        <div class="col-md-4">
                            <div class="card mx-auto border-0 pt-3" style=" width: 80%;">
                                <img class="card-img-top mx-auto" src="{% static 'user_account/images/student_housing.svg' %}" alt="Card image" style="width: 150px;">
                                <div class="card-body">
                                  <h4 class="card-title text-center">Student Housing</h4>
                                  <p class="card-text text-secondary text-center">Most students dont know even how to write a cheque. Make their lives easier to 
                                      to make your life easier
                                  </p>
                                  
                                </div>
                              </div>
                            
                        </div>
                        <div class="col-md-4">
                            <div class="card mx-auto border-0 pt-3" style=" width: 80%;">
                                <img class="card-img-top mx-auto" src="{% static 'user_account/images/residential_housing.svg' %}" alt="Card image" style="width: 150px;">
                                <div class="card-body">
                                  <h4 class="card-title text-center">Commercial Premises</h4>
                                  <p class="card-text text-secondary text-center">
                                      Give your commercial tenants the proffessional experience they deserve.
                                      
                                  </p>
                                  
                                </div>
                              </div>
                            
                        </div>
                        <div class="col-md-4">
                            <div class="card mx-auto border-0 pt-3" style=" width: 80%;">
                                <img class="card-img-top mx-auto" src="{% static 'user_account/images/commercial_houses.svg' %}" alt="Card image" style="width: 150px;">
                                <div class="card-body">
                                  <h4 class="card-title text-center">Residential Houses</h4>
                                  <p class="card-text text-secondary text-center">
                                      Automation and powerful tools make managing your residential properties simpler than ever.
                                      
                                  </p>
                                  
                                </div>
                              </div>
                            
                        </div>

                    </div>


                    <div class="row mb-5 mt-5 pb-5">
                        <div class="col-12 text-left">
                            <h1 class="pl-4 pt-5 text-black">Explore Rentals Around Moi University</h1>
                        </div>
                        <div class="col-md-3">
                            <div class="card" style=" width: 100%; height: 200px; object-fit: cover;">
                                <img class="img-fluid" src="{% static 'user_account/images/plot2.jfif' %}" alt="Card image" style="object-fit: cover;">
                                
                              </div>
                            
                        </div>
                        <div class="col-md-3">
                            <div class="card" style="width: 100%; height: 200px; object-fit: cover;">
                                <img class="img-fluid" src="{% static 'user_account/images/plot1.jpg' %}" alt="Card image">
            
                              </div>
                            
                        </div>
                        <div class="col-md-3">
                            <div class="card" style=" width: 100%; height: 200px;">
                                <img class="img-fluid" src="{% static 'user_account/images/plot2.jfif' %}" alt="Card image" style="object-fit: cover;">
                                
                              </div>
                            
                        </div>
                        <div class="col-md-3">
                            <div class="card" style="width: 100%; height: 200px;">
                                <img class="img-fluid" src="{% static 'user_account/images/plot1.jpg' %}" alt="Card image" style="object-fit: cover;">
                                
                              </div>
                            
                        </div>
                    </div>


                    <div class=" mt-5">


              
  
                <!-- login  The Modal -->
                <div class="modal fade" id="login">
                    <div class="modal-dialog modal-dialog-centered">
                    <div class="modal-content main-content text-center">
                
                        <!-- Modal body -->
                        <div class="modal-body p-0">
                            <!-- Main Content -->
                    <div class="container-fluid">
                        
                        
                        <div class="row ">
                            <div class="col-md-4 bg-primary text-center company__info">

                                <span class="company__logo">
                                    <h2><i class=" bx bxs-home-smile bx-md text-white" ></i>
                                    </h2></span>
                                <h4 class="company_title"><strong class="text-white">Rentalinks</strong></h4>
                            </div>
                            <div class="col-md-8 col-xs-12 col-sm-12 login_form ">
                                <div class="container-fluid">
                                    <div class="row">
                                        <h2>Log In</h2>
                                    </div>
                                    <div class="row">
                                        <form control="" class="form-group" action="{% url 'user_account:login' %}" method="POST">
                                            {% csrf_token %}
                                            <div class="row">
                                                <input type="text" name="username" id="username" class="form__input" placeholder="Username">
                                            </div>
                                            <div class="row">
                                                <!-- <span class="fa fa-lock"></span> -->
                                                <input type="password" name="password" id="password" class="form__input" placeholder="Password">
                                            </div>
                                            <div class="row">
                                                <input type="checkbox" name="remember_me" id="remember_me" class="">
                                                <label for="remember_me">Remember Me!</label>
                                            </div>
                                            <div class="row">
                                                <input type="submit" value="Submit" class="login_btn">
                                            </div>
                                        </form>
                                    </div>
                                    <div class="row">
                                        <p class="text-secondary">Don't have an account? <a href="{% url 'user_account:register_template'%}" class="text-primary">Register Here</a></p>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>

                        </div>

                        
                
                    </div>
                    </div>
                </div>




<footer id="dk-footer" class="dk-footer mt-5">
        <div class="container">
            <div class="row">
                <div class="col-md-12 col-lg-4">
                    <div class="dk-footer-box-info">
                        <a href="index.html" class="footer-logo">
                            <i class=" bx bxs-home-smile bx-md text-white" ></i><strong class="text-white">rentalinks</strong>
                            <!-- <img src="{% static 'user_account/images/rentalink1.png' %}"  alt="footer_logo" width="50px" class="img-fluid"> -->
                        </a>
                        <p class="footer-info-text">
                           Reference site about Lorem Ipsum, giving information on its origins, as well as a random Lipsum generator.
                        </p>
                        <div class="footer-social-link">
                            <h3>Follow us</h3>
                            <ul>
                                <li>
                                    <a href="#">
                                        <i class="bx bxl-facebook bg-primary"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="bx bxl-twitter bg-info"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="bx bxl-google-plus bg-danger"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="bx bxl-linkedin bg-primary"></i>
                                    </a>
                                </li>
                                <li>
                                    <a href="#">
                                        <i class="bx bxl-instagram bg-danger"></i>
                                    </a>
                                </li>
                            </ul>
                        </div>
                        <!-- End Social link -->
                    </div>
                    <!-- End Footer info -->
                    <div class="footer-awarad">
                        <i class=" bx bxs-home-smile bx-md text-white" ></i><strong class="text-white">rentalinks</strong>
                        <!-- <img src="{% static 'user_account/images/rentalink1.png' %}" alt="" width="70px"> -->
                        <p>Best Rental Management Software 2021</p>
                    </div>
                </div>
                <!-- End Col -->
                <div class="col-md-12 col-lg-8">
                    <div class="row">
                        <div class="col-md-6">
                            <div class="contact-us">
                                <div class="contact-icon">
                                    <i class="fa fa-map-o" aria-hidden="true"></i>
                                </div>
                                <!-- End contact Icon -->
                                <div class="contact-info">
                                    <h3>Moi University</h3>
                                    <p>Kesses road</p>
                                </div>
                                <!-- End Contact Info -->
                            </div>
                            <!-- End Contact Us -->
                        </div>
                        <!-- End Col -->
                        <div class="col-md-6">
                            <div class="contact-us contact-us-last">
                                <div class="contact-icon">
                                    <i class="fa fa-volume-control-phone" aria-hidden="true"></i>
                                </div>
                                <!-- End contact Icon -->
                                <div class="contact-info">
                                    <h3>+254 721 480230</h3>
                                    <p>Give us a call</p>
                                </div>
                                <!-- End Contact Info -->
                            </div>
                            <!-- End Contact Us -->
                        </div>
                        <!-- End Col -->
                    </div>
                    <!-- End Contact Row -->
                    <div class="row">
                        <div class="col-md-12 col-lg-6">
                            <div class="footer-widget footer-left-widget text-white">
                                <div class="section-heading">
                                    <h3>Useful Links</h3>
                                    <span class="animate-border border-black"></span>
                                </div>
                                <ul>
                                    <li>
                                        <a href="#">About us</a>
                                    </li>
                                    <li>
                                        <a href="#">Services</a>
                                    </li>
                                    <li>
                                        <a href="#">Projects</a>
                                    </li>
                                    <li>
                                        <a href="#">Our Team</a>
                                    </li>
                                </ul>
                                <ul>
                                    <li>
                                        <a href="#">Contact us</a>
                                    </li>
                                    <li>
                                        <a href="#">Blog</a>
                                    </li>
                                    <li>
                                        <a href="#">Testimonials</a>
                                    </li>
                                    <li>
                                        <a href="#">Faq</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- End Footer Widget -->
                        </div>
                        <!-- End col -->
                        <div class="col-md-12 col-lg-6">
                            <div class="footer-widget">
                                <div class="section-heading">
                                    <h3>Subscribe</h3>
                                    <span class="animate-border border-black"></span>
                                </div>
                                <p><!-- Don’t miss to subscribe to our new feeds, kindly fill the form below. -->
                                Reference site about Lorem Ipsum, giving information on its origins, as well.</p>
                                <form action="#">
                                    <div class="form-row">
                                        <div class="col dk-footer-form">
                                            <input type="email" class="form-control" placeholder="Email Address">
                                            <button type="submit">
                                                <i class="fa fa-send"></i>
                                            </button>
                                        </div>
                                    </div>
                                </form>
                                <!-- End form -->
                            </div>
                            <!-- End footer widget -->
                        </div>
                        <!-- End Col -->
                    </div>
                    <!-- End Row -->
                </div>
                <!-- End Col -->
            </div>
            <!-- End Widget Row -->
        </div>
        <!-- End Contact Container -->


        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-md-6">
                        <span>Copyright © 2019, All Right Reserved Seobin</span>
                    </div>
                    <!-- End Col -->
                    <div class="col-md-6">
                        <div class="copyright-menu">
                            <ul>
                                <li>
                                    <a href="#">Home</a>
                                </li>
                                <li>
                                    <a href="#">Terms</a>
                                </li>
                                <li>
                                    <a href="#">Privacy Policy</a>
                                </li>
                                <li>
                                    <a href="#">Contact</a>
                                </li>
                            </ul>
                        </div>
                    </div>
                    <!-- End col -->
                </div>
                <!-- End Row -->
            </div>
            <!-- End Copyright Container -->
        </div>
        <!-- End Copyright -->
        <!-- Back to top -->
        <div id="back-to-top" class="back-to-top">
            <button class="btn btn-dark" title="Back to Top" style="display: block;">
                <i class="fa fa-angle-up"></i>
            </button>
        </div>
        <!-- End Back to top -->
</footer>

                            
                        </div>




                    </div>
                
            </div>
            
        </div>
        <script src="{% static 'user_account/vendor/jquery/jquery-2.2.4.min.js' %}"></script>
        <script src="{% static 'user_account/vendor/jquery/jquery-2.2.4.js' %}"></script>
        <script src="{% static 'user_account/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'user_account/bootstrap/js/bootstrap.bundle.js' %}"></script>
        <script src="{% static 'user_account/bootstrap/js/bootstrap.js' %}"></script>


        <script>
            $(document).ready(function(){
                //trying hide and show when clicked
                
                // Add minus icon for collapse element which is open by default
               /* $(".collapse show").each(function(){
                    $(this).siblings(".card-header").find(".btn i").html("remove");
                });
                
                // Toggle plus minus icon on show hide of collapse element
                /*$(".collapse").on('show.bs.collapse', function(){
                    $(this).parent().find(".card-header .btn i").html("remove");
                }).on('hide.bs.collapse', function(){
                    $(this).parent().find(".card-header .btn i").html("add");
                });
            });
            </script>
    </body>
</html>