{% extends 'nyumba/tenant/menu.html' %}
{% load static %}
{% block css %}
<style>
    /* body{
background:#eee;    
} */

.card-box {
    position: relative;
    color: #fff;
    padding: 20px 10px 40px;
    margin: 20px 0px;
}
.card-box:hover {
    text-decoration: none;
    color: #f1f1f1;
}
.card-box:hover .icon i {
    font-size: 100px;
    transition: 1s;
    -webkit-transition: 1s;
}
.card-box .inner {
    padding: 5px 10px 0 10px;
}
.card-box h3 {
    font-size: 27px;
    font-weight: bold;
    margin: 0 0 8px 0;
    white-space: nowrap;
    padding: 0;
    text-align: left;
}
.card-box p {
    font-size: 15px;
}
.card-box .icon {
    position: absolute;
    top: auto;
    bottom: 5px;
    right: 5px;
    z-index: 0;
    font-size: 72px;
    color: rgba(0, 0, 0, 0.15);
}
.card-box .card-box-footer {
    position: absolute;
    left: 0px;
    bottom: 0px;
    text-align: center;
    padding: 3px 0;
    color: rgba(255, 255, 255, 0.8);
    background: rgba(0, 0, 0, 0.1);
    width: 100%;
    text-decoration: none;
}
.card-box:hover .card-box-footer {
    background: rgba(0, 0, 0, 0.3);
}
.bg-blue {
    background-color: #00c0ef !important;
}
.bg-green {
    background-color: #00a65a !important;
}
.bg-orange {
    background-color: #f39c12 !important;
}
.bg-red {
    background-color: #d9534f !important;
}
.room_img{
    width: 200px;
    height: 200px;
    object-fit: cover;
}

.space_btn{
    background-color: rgb(27, 204, 51);
    width: 150px;
    border-radius: 20px;
}
.space_btn:hover{
    background-color: rgb(35, 41, 136);
    width:200px;
    transition: 10ms;
    color:white;
}

</style>
{% endblock %}

{% block content %}


<div class="container-fluid mt-5">
    <div class="row mt-3 bg-white ">
        <div class="col-auto col-md-12 bg-white">
            <nav aria-label="breadcrumb " class="second bg-white">
                <ol class="breadcrumb indigo lighten-6 first shadow-lg bg-white px-md-4">
                    <li class="breadcrumb-item font-weight-bold ">
                        <a class="black-text text-uppercase active-2 " href="{% url 'nyumba:tenant_home' %}">
                            <span class="mr-md-3 mr-2">Dashboard</span>
                        </a>
                        
                    </li>
                </ol>
            </nav>
        </div>
    </div>
    <div class="row m-0 p-0">
        <div class="col-lg-3 col-sm-6">
            <div class="card-box bg-blue" style="border-radius: 24px;">
                <div class="inner">
                    <h3>{{ count_units }}</h3>
                    <p> Vacant Houses </p>
                </div>
                <div class="icon">
                    <i class="fa fa-home" aria-hidden="true"></i>
                </div>
                <a href="{% url 'nyumba:explore_rentals' %}" class="card-box-footer" style="border-radius: 0 0 24px 24px;">View More <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>

        <div class="col-lg-3 col-sm-6">
            <div class="card-box bg-green" style="border-radius: 24px;">
                <div class="inner">
                    <h3> {{ count_tenants }} </h3>
                    <p> New messages </p>
                </div>
                <div class="icon">
                    <i class="fa fa-user-plus" aria-hidden="true"></i>
                </div>
                <a href="#" class="card-box-footer" style="border-radius: 0 0 24px 24px;">check inbox <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card-box bg-orange" style="border-radius: 24px;">
                <div class="inner">
                    <h3> {{ count_store }} </h3>
                    <p> Stores </p>
                </div>
                <div class="icon">
                    <i class="fa fa-store" aria-hidden="true"></i>
                </div>
                <a href="{% url 'nyumba:explore_stores'%}" class="card-box-footer" style="border-radius: 0 0 24px 24px;">View More <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
        <div class="col-lg-3 col-sm-6">
            <div class="card-box bg-red" style="border-radius: 24px;">
                <div class="inner">
                    <h3> {{ count_landlords}} </h3>
                    <p> Landlords </p>
                </div>
                <div class="icon">
                    <i class="fa fa-users"></i>
                </div>
                <a href="#" class="card-box-footer " style="border-radius: 0 0 24px 24px;">view houses <i class="fa fa-arrow-circle-right"></i></a>
            </div>
        </div>
    </div>
    <div class="row">
        
    </div>
</div>
<div class="row m-0 p-0 mt-5">
    <div class="col-md-6">
        <!-- <div class="container-fluid py-5 mx-auto"> -->
          <div class="card bg-light py-4 px-4">
              <div class="row justify-content-start px-3">
                  <div class="image-bg mr-3"> <img class="user-img fit-image" src="{% static 'nyumba/images/house1.jpg' %}"> </div>
                  <div class="text-left">
                      <h2>Popular Rentals</h2>
                      <h6>3 Bedrooms -Ksh.50,000 -parking - Gym</h6> 
                      <span class="fa fa-star active "></span> 
                      <span class="fa fa-star active "></span> 
                      <span class="fa fa-star active "></span> 
                      <span class="fa fa-star active "></span> 
                      <span class="fa fa-star"></span>
                  </div>
                  <div class="btn btn-pink bg-info ml-auto">RENT</div>
              </div>
              <div class="line"></div>
              <div class="row d-flex justify-content-between px-3">
                  <div class="prod-bg text-center py-1"><img class="prod-pic" src="{% static 'nyumba/images/house1.jpg' %}"></div>
                  <div class="prod-bg text-center py-1"><img class="prod-pic" src="{% static 'nyumba/images/house1.jpg' %}"></div>
                  <div class="prod-bg text-center py-1"><img class="prod-pic fat-img" src="{% static 'nyumba/images/house1.jpg' %}"></div>
                  <div class="prod-bg text-center py-1"><img class="prod-pic" src="{% static 'nyumba/images/house1.jpg' %}"></div>
                  <div class="more text-center pt-3">
                      <h1 class="mb-0 dk-none dk-sm-block"><strong>+2</strong></h1>
                      <h5>ITEMS</h5>
                  </div>
              </div>
          </div>
      </div>
      <div class="col-md-6 mx-auto">
        <h5 class=" card-title text-center text-secondary">Rental applications</h5>
        <div class="row w-75 bg-light shadow-lg mx-auto">
          
          <div class="col-6" style="">
            <div id="circle" class="mx-auto text-center border border-primary text-center pt-4" >
                <div class="btn btn-info mx-auto mt-5 ">
                    <i class="fa fa-plus text-white mr-2 "> </i>Add application

                </div>
              
            </div>
            </div>
            <div class="col-6 " >
              <div class="application_checkboxes w-75 ">
                  <div class="custom-control custom-checkbox  ">
                    <input type="checkbox" class="custom-control-input " id="customCheck" name="example1">
                    <label class="custom-control-label" for="customCheck"> <span class="text-primary pr-2">{{count_p}}</span>pending</label>
                    </div>
                    <div class="custom-control custom-checkbox ">
                    <input type="checkbox" class="custom-control-input " id="customCheck" name="example1">
                    <label class="custom-control-label" for="customCheck"> <span class="text-success pr-2">{{ count_s }}</span>succesful</label>
                    </div>
                    <div class="custom-control custom-checkbox ">
                      <input type="checkbox" class="custom-control-input " id="customCheck" name="example1">
                      <label class="custom-control-label" for="customCheck"> <span class="text-danger pr-2">{{ count_d }}</span>declined</label>
                      </div>
                      
                    </div>
                </div>
            </div>
          
        </div>
      <!-- </div> -->

</div>
<div class="row m-0 p-0 mt-5">
    <div class="col-12 text-secondary">
        <h2 style="text-decoration: underline;" >EXPLORE AVAILABLE HOUSES</h2>
    </div>
    {% for l in vunits %}
    <div class="col-md-3 col-sm-6 mb-4">
        <div class="product-grid border border-primary" style="border-radius: 0px 24px 0px 24px ;">
            <div class="product-image " style="border-radius: 0px 24px 0px 0 ;"">
                <div class="border border-primary" style="height: 150px;">
                <a href="#" class="image">
                    <img class="pic-1 " src="{{ l.room_image.url }}" style="height:200px; width:100%;object-fit: cover;">
                    <img class="pic-2 " src="{{ l.room_image.url }}"  style="height:200px; width:100%;object-fit: cover;object-fit: cover;">
                </a>
                </div>
                 <span class="product-sale-label small">vacant!</span>
                <ul class="social">
                    <li><a href="#" data-tip="Quick View"><i class="fa fa-eye"></i></a></li>
                    <!-- <li><a href="#" data-tip="Add to wishlist"><i class="fa fa-heart"></i></a></li> -->
                </ul>
                <div class="product-rating">
                    <ul class="rating">
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="fas fa-star"></li>
                        <li class="far fa-star"></li>
                        <li class="far fa-star"></li>
                    </ul>
                    <a class="add-to-cart" href="#"> RENT HOUSE </a>
                </div>
            </div>
            <div class="product-content" style="border-radius: 0px 0 0px 24px ;"">
                <h3 class="title"><a href="#">{{ l.room_plot.property_name }}</a></h3>
                <h3 class="title small"><a href="#">{{ l.room_name }}</a></h3>
                <div class="price">market rent:{{ l.market_rent }}</div>
                <div class="price"><i class="fa fa-map-marker-alt text-danger"></i> {{l.room_plot.location }}</div>
            </div>
        </div>
    </div>
    {% endfor %}

  
</div>
<div class="row m-0 p-0 ">
    <div class="container-fluid mt-5 mb-4">
      <div class="row clearfix mx-auto">
          <div class="col-12 text-center text-secondary">
              <h2 style="text-decoration: underline;">EXPLORE AVAILABLE STORES</h2>
          </div>
          {% for k in a_stores %}
          <div class="col-md-3 col-sm-3 text-center">
            <div class="boxs project_widget bg-light border border-primary " style="border-radius: 15px;">
                 <div class="pw_img">
                    <img class="img-responsive" src="{{ k.store_image.url }}" alt="About the image" 
                    style=" height: 200px; width: 100%; object-fit: cover; border-radius: 15px;">
                </div>
                <div class="pw_content">
                    <div class="pw_header">
                        <h6>{{ k.store_name }} </h6>
                        <small class="text-muted">Available spaces: 
                            {% if k.space_availability == True %}
                            <span class="text-success">available</span>
                            {% else %}
                            {% endif %}
                        </small><br>
                        <small> monthly cost:{{ k.m_cost }}</small><br>
                        <button class="btn mt-1 space_btn" id="">book for space</button>

                    </div>
                    <!-- <div class="pw_meta">

                        
                        
                    </div> -->
                   
                    
                </div>
            </div>
        </div>
          {% endfor %}
              
              
              
              
          </div>
      </div>
  </div>







  {% endblock %}