{% load static %}
<!DOCTYPE html>
<html>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <link rel="stylesheet" href="{% static 'User_account/bootstrap/css/bootstrap.min.css' %}" id="bootstrap-css">
        <link rel="stylesheet" href="{% static 'User_account/bootstrap/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'User_account/css/css/all.css' %}"> 
        <link rel="stylesheet" href="{% static 'nyumba/tenant_home_styles.css' %}">
        <link rel="stylesheet" href="{% static 'nyumba/tenant_styles/style1.css' %}">   
        <link rel="stylesheet" href="{% static 'User_account/vendor/boxicons/css/boxicons.min.css' %}" > 
        <link rel="stylesheet" href="{% static 'User_account/bootstrap/css/bootstrap.min.css' %}" id="bootstrap-css">

        <link rel="stylesheet" href="{% static 'User_account/bootstrap/css/bootstrap.css' %}">
        <link rel="stylesheet" href="{% static 'User_account/css/css/all.css' %}"> 
        <link rel="stylesheet" href="{% static 'nyumba/tenant_home_styles.css' %}">
        <link rel="stylesheet" href="{% static 'nyumba/tenant_styles/style1.css' %}">
        <!-- <link rel="stylesheet" href="{% static 'nyumba/tenant_styles/menu.css' %}">  -->
        <!-- <link rel="stylesheet" href="{% static 'nyumba/chat/chats.css' %}">    -->
        <link rel="stylesheet" href="{% static 'User_account/vendor/boxicons/css/boxicons.min.css' %}" >
        <title>tenant page</title>
        {% block css %}
		<style>
/*
*
* ==========================================
* CUSTOM UTIL CLASSES
* ==========================================
*
*/

.vertical-nav {
  min-width: 17rem;
  width: 17rem;
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  box-shadow: 3px 3px 10px rgba(0, 0, 0, 0.1);
  transition: all 0.4s;
}

.page-content {
  width: calc(100% - 17rem);
  margin-left: 17rem;
  transition: all 0.4s;
}

/* for toggle behavior */

#sidebar.active {
  margin-left: -17rem;
}

#content.active {
  width: 100%;
  margin: 0;
}

@media (max-width: 768px) {
  #sidebar {
    margin-left: -17rem;
  }
  #sidebar.active {
    margin-left: 0;
  }
  #content {
    width: 100%;
    margin: 0;
  }
  #content.active {
    margin-left: 17rem;
    width: calc(100% - 17rem);
  }
}

		</style>      
        {% endblock %}
    </head>
    
    <body>
        <!-- Vertical navbar -->
<div class="vertical-nav bg-white" id="sidebar">
    <div class="py-4 px-3 mb-4 bg-light">
      <div class="media d-flex align-items-center"><img src="#" alt="..." width="65" 
        class="mr-3 rounded-circle img-thumbnail shadow-sm">
        <div class="media-body">
          <h4 class="m-0">Tenant Name</h4>
          <p class="font-weight-light text-muted mb-0">user:Tenant</p>
        </div>
      </div>
    </div>
  
    <p class="text-gray font-weight-bold text-uppercase px-3 small pb-4 mb-0">Main</p>
  
    <ul class="nav flex-column bg-white mb-0">
      <li class="nav-item">
        <a href="{% url 'nyumba:tenant_home' %}" class="nav-link text-dark font-italic bg-light">
                  <i class="bx bx-grid-alt mr-3 text-primary fa-fw"></i>
                  Dashboard
              </a>
      </li>
      <li class="nav-item">
        <a href="{% url 'nyumba:explore_rentals' %}" class="nav-link text-dark font-italic">
                  <i class="bx bx-building-house mr-3 text-primary fa-fw"></i>
                  Rentals
              </a>
      </li>
      <li class="nav-item">
        <a href="{% url 'nyumba:explore_stores' %}" class="nav-link text-dark font-italic">
                  <i class="bx bxs-store mr-3 text-primary fa-fw"></i>
                  Stores
              </a>
      </li>
      <li class="nav-item">
        <a href="{% url 'nyumba:mymaintenance' %}" class="nav-link text-dark font-italic">
                  <i class="fa fa-picture-o mr-3 text-primary fa-fw"></i>
                  Maintenance
              </a>
      </li>
    </ul>
  
    <p class="text-gray font-weight-bold text-uppercase px-3 small py-4 mb-0">Applications</p>
  
    <ul class="nav flex-column bg-white mb-0">
      <li class="nav-item">
        <a href="{% url 'nyumba:myapplications' %}" class="nav-link text-dark font-italic">
                  <i class="fa fa-area-chart mr-3 text-primary fa-fw"></i>
                  Rental applications
              </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link text-dark font-italic">
                  <i class="fa fa-bar-chart mr-3 text-primary fa-fw"></i>
                  Store applications
              </a>
      </li>
      <li class="nav-item">
        <a href="#" class="nav-link text-dark font-italic">
                  <i class="fa fa-pie-chart mr-3 text-primary fa-fw"></i>
                  Transactions
              </a>
      </li>
      <li class="nav-item">
        <a href="{% url 'nyumba:rental_home' %}" class="nav-link text-dark font-italic">
                  <i class="fa fa-line-chart mr-3 text-primary fa-fw"></i>
                  myHome
              </a>
      </li>
    </ul>
  </div>
  <!-- End vertical navbar -->
  
  
  <!-- Page content holder -->
  <div class="page-content p-5" id="content">
    <!-- Toggle button -->
    <button id="sidebarCollapse" type="button" class="btn btn-light bg-white rounded-pill shadow-sm px-4 mb-4">
      <i class="fa fa-bars mr-2"></i><small class="text-uppercase font-weight-bold">Menu</small></button>
  
    <!-- Demo content -->
    
    
  
  </div>
  <!-- End demo content -->







        
        <!--dashboard-->
        {% block content %}
        {% endblock %}

        <!--end dashboard-->
      
  
        <script src="scripts/index.js"></script>
        <script src="{% static 'User_account/vendor/jquery/jquery-2.2.4.min.js' %}"></script>
        <script src="{% static 'User_account/vendor/jquery/jquery-2.2.4.js' %}"></script>
        <script src="{% static 'User_account/bootstrap/js/bootstrap.min.js' %}"></script>
        <script src="{% static 'User_account/bootstrap/js/bootstrap.bundle.js' %}"></script>
        <script src="{% static 'User_account/bootstrap/js/bootstrap.js' %}"></script>
        {% block js %}
        <script>
          $(function() {
          // Sidebar toggle behavior
          $('#sidebarCollapse').on('click', function() {
            $('#sidebar, #content').toggleClass('active');
          });
        });
        </script>
        
        {% endblock %}
</body>
</html>


