{% extends 'nyumba/landlord/base.html' %}
{% load static %}
{% block css %}
<style>

/* Style The Dropdown Button */
.dropbtn_action {
  background-color: #4CAF50;
  color: white;
  padding: 7px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown_action {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content_action {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content_action a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content_action a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown_action:hover .dropdown-content_action {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown_action:hover .dropbtn {
  background-color: #3e8e41;
}

.unit_circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid lightblue;
}
.occupancy_circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fff;
}
@media (max-width: 767px) {
    #extra_info{
        display: none;
    }
}
.e_unit{
    background-color: gray;
    color:#fff;
}
.e_unit:hover {
    background-color: #8cc3f0;

}
 

</style>
{% endblock %}
{% block content %} 
<div class="container pl-0 ml-0 pr-0 mr-0 mb-5 mx-auto bg-white ">
    <div class="row mt-1 bg-white ">
        <div class="col-auto col-md-12 bg-white">
          <nav aria-label="breadcrumb " class="second bg-white">
            <ol class="breadcrumb indigo lighten-6 first shadow-lg bg-white px-md-4">
              <li class="breadcrumb-item font-weight-normal ">
                <a class="black-text text-capitallize text-secondary" href="{% url 'nyumba:landlord_home' %}">
                  <span class="mr-md-3 mr-2">Dashboard</span>
                </a>
                <i class="fa fa-angle-double-right icons" aria-hidden="true"></i>
              </li>
              <li class="breadcrumb-item font-weight-normal">
                <a class="black-text text-capitallize text-secondary " href="{% url 'nyumba:properties' %}">
                  <span class="mr-md-3 mr-2">properties</span>
                </a>
                <i class="fa fa-angle-double-right text-uppercase " aria-hidden="true">
    
                </i></li>
              <li class="breadcrumb-item font-weight-bold">
                <a class="black-text text-capitallize text-secondary" href="{% url 'nyumba:units' %}">
                  <span>units</span></a>
                  <i class="fa fa-angle-double-right text-uppercase " aria-hidden="true"></i></li>
                  <li class="breadcrumb-item font-weight-bold">
                    <a class="black-text text-capitallize  active-2" href="#">
                      <span>{{ this_unit.room_name}}</span></a></li>
            </ol>
          </nav>
        </div>
      </div>

    <div class="d-flex bg-light mt-4">
        <div class="p-2 mr-4 align-self-center text-primary">
            <i class="fa fa-arrow-left"></i>
        </div>
        <div class="p-2 align-self-center text-primary">{{ this_unit.room_name }}</div>
        <div class="dropdown_action pr-5 ml-auto align-self-center" style="border-radius: 24px;">
            <button class="dropbtn_action mr-5">actions<i class="fa fa-ellipsis-h  ml-3"></i></button>
            <div class="dropdown-content_action">
                <a class="d-flex justify-content-between text-success" href="#">
                    <div class="p-1">archive unit</div>
                    <div class="p-1">
                        <i class="fa fa-cog"></i>
                    </div>
                </a>
                
                    <input type="hidden" name="uid" value="this_unit.id">
                    <aclass="d-flex justify-content-between text-secondary" href="">

                        <button type="submit" class="p-1">edit unit</button>
                        <div class="p-1">
                            <i class="fa fa-home"></i>
                        </div>
                    </a>
                
                
                <a class="d-flex justify-content-between text-danger" href="#">
                    <div class="p-1">delete unit</div>
                    <div class="p-1">
                        <i class="fa fa-trash-alt"></i>
                    </div>
                </a>
            </div>
          </div>
        
        
    </div> 
    <div class="row m-0 p-0 bg-light">
        <div class="col-sm-3 pl-0 ml-0">
                <div class="card" style="object-fit:cover;">
                    <img class="card-img-top img-thumbnail" src="{{ this_unit.room_image.url }}" alt="Card image cap" 
                    >
                    <div class="card-body">
                      <h4 class="card-title text-center">{{ this_unit.room_plot.property_name }}</h4>
                      <div class="mx-auto text-center"><i class="fa fa-map-marker-alt text-center"></i></div>
                      <p class="card-text text-center">{{ this_unit.room_plot.street_address }}</p>
                      <!-- <div class="card-text text-center">{{ this_unit.room_plot.location }}</div> -->
                    </div>
                  </div>

        </div>
            
            
            
        
        <div class="col-sm-9 ">
            <div class="row">
                <div class="col-12">
                    <div class="d-flex justify-content-between ">
                        <div class="p-2 btn w-100 text-center e_unit text-primary bg-white " id="unit_profile" style="border-radius: 10px;">
                            
                                General information
                        </div>
                        
                        <div class="p-2 btn w-100 text-center border border-white e_unit" id="unit_financials" style="border-radius: 10px;">
                            Financials</div>
                        <div class="p-2 w-100 btn text-center border border-white e_unit" id="unit_specs" style="border-radius: 10px;">
                            Tenant</div>
                        <!-- <div class="p-2 bg-primary w-100 text-center" id="unit_utilities">Financials</div> -->
                    </div>
                </div>
                <div class="col-12 bg-white" id="unit_profile_div" style="display: block;">
                    <div class="container mt-3">
                        <div class="row m-0 p-0">
                            <!-- <div class="col-12 mx-auto text-left"><i class="fa fa-home mr-4"></i>General Information</div> -->
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-12 text-center">
                                        <div class="col-12 text-center" style="text-decoration: underline;">Unit Name</div>
                                        <div class="col-12 text-center text-primary">{{ this_unit.room_name }}</div>
                                    </div>
                                    <!-- <div class="col=6">
                                        <div class="col-12 text-center" style="text-decoration: underline;">Unit number</div>
                                        <div class="col-12 text-center">100</div>
                                    </div> -->
                                </div>
                            </div>
                            <div class="col-sm-6">
                                <div class="row">
                                    <div class="col-6">
                                        <div class="col-12 text-center " style="text-decoration: underline;">Current status</div>
                                        {% if this_unit.room_status == False %}
                                        <div class="col-12 text-center text-primary">vacant</div>
                                        {% else %}
                                        <div class="col-12 text-center text-success">occupied</div>
                                        {% endif %}
                                    </div>
                                    <div class="col=6">
                                        <div class="col-12 text-center" style="text-decoration: underline;">unit condition</div>
                                        <div class="col-12 text-center">good</div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="row m-0 p-0 mt-3">
                            <div class="col-sm-4 text-center">market rent:<span class="text-primary">{{ this_unit.market_rent }}</span></div>
                            <div class="col-sm-4 text-center">Minimum deposit:<span class="text-primary">{{ this_unit.min_deposit }}</span></div>
                            <div class="col-sm-4 text-center">Room wallet:<span class="text-primary">{{ this_unit.room_wallet }}</span></div>
                        </div>
                        <!-- <div class="row m-0 p-0 mt-3 ">
                            <div class="col-12 m-2">
                                <div class="col-12 d-flex justify-content-between text-success ">
                                    <div class="pl-4"><i class="fa fa-dollar-sign mr-4 "></i>keys</div>
                                    <div class="mr-5"><i class="fa fa-plus-circle mr-4 "></i>assign</div>
                                </div>
                                <div class="col-12 text-center" >no keys assigned</div>
                                
                            </div>
                            <div class="col-12 m-2">
                                <div class="col-12 d-flex justify-content-between text-success ">
                                    <div class="pl-4"><i class="fa fa-dollar-sign mr-4 "></i>paint</div>
                                    <div class="mr-5"><i class="fa fa-plus-circle mr-4 "></i>add</div>
                                </div>
                                <div class="col-12 text-center" >No paint added</div>
                                
                            </div>
                            <div class="col-12 m-2">
                                <div class="col-12 d-flex justify-content-between text-success ">
                                    <div class="pl-4"><i class="fa fa-dollar-sign mr-4 "></i>Doors</div>
                                    <div class="mr-5"><i class="fa fa-plus-circle mr-4 "></i>add</div>
                                </div>
                                <div class="col-12 text-center" >No door added</div>
                                
                            </div>
                            <div class="col-12 m-2">
                                <div class="col-12 d-flex justify-content-between text-success ">
                                    <div class="pl-4"><i class="fa fa-dollar-sign mr-4 "></i>Flooring</div>
                                    <div class="mr-5"><i class="fa fa-plus-circle mr-4 "></i>add</div>
                                </div>
                                <div class="col-12 text-center" >No floors added</div>
                        
                            </div>
                        </div> -->
                        <div class="row m-0 p-0">
                            <div class="col-12 pl-5 mt-3">Unit Features</div>
                            <div class="col-12 pl-5">
                                <ul class="text-primary">
                                    <li> <span class="text-secondary mr-2">bed rooms:</span>{{ this_unit.beds }}</li>
                                    <li> <span class="text-secondary mr-2"> baths:</span>{{ this_unit.baths }}</li>
                                    <li> <span class="text-secondary mr-2">parking:</span>{{ this_unit.parking }}</li>
                                    <li> <span class="text-secondary mr-2">size:</span>{{ this_unit.size }}</li>
                                </ul>
                            </div>
                        </div>
                        <!-- <div class="row mt-4">
                            <div class="col-12"><i class="fa fa-file mr-4"></i>Property attachents</div>
                            <div class="col-12 text-center">no attachments yet</div>
                        </div> -->
                        



                    </div>
                </div>
                <div class="col-12 bg-white" id="unit_financials_div" style="display: none;">
                    <div class="container">
                        <div class="row mt-3 p-2">
                            <div class="col-12 d-flex justify-content-between text-primary ">
                                <div class="pl-4"><i class="fa fa-dollar-sign mr-4 "></i>payments for house {{this_unit.room_name }}</div>
                                <!-- <div class="mr-5"><i class="fa fa-plus-circle mr-4 "></i>add</div> -->
                            </div>
                            {% if u_payments %} 
                            <table class="table table-responsive-sm table-hover">
                                <thead class="thead-light">
                                  <tr>
                                    <th>#</th>
                                    <th>Tenant Name</th>
                                    <!-- <th>Payment method</th> -->
                                    <th>Payment date</th>
                                    <th>Receipt No:</th>
                                    <th>Mpesa Receipt</th>
                                    <th>Amount</th>

                                  </tr>
                                </thead>
                                <tbody>
                               
                                 {% for k in u_payments %}   
                                  <tr>
                                    <td>{{ forloop.counter }}</td>
                                    <td>{{ k.Paying_user.first_name }}{{' '}}{{ k.Paying_user.last_name }}</td>
                                    <td>{{ k.TransactionDate }}</td>
                                    <td>{{ k.Paid_booking.Receipt_Number }}</td>
                                    <td>{{ k.MpesaReceiptNumber }}</td>
                                    <td>{{ k.Amount }}</td>
                                  </tr>
                                  {% endfor %}
                                
                                  
                                  
                                </tbody>
                              </table>
                              {% else %}
                              <div class="col-12 text-center">
                                <h5 class="text-center text-secondary">No payments yet</h5>

                              </div>
                                  
                                {% endif %}
                            
                        </div>
                        
                        
                    </div> 
                </div>

                <div class="col-12 bg-white" id="unit_specs_div" style="display: none;">
                    <div class="container">
                        {%if this_unit.room_tenant %}
                        <div class="col-12">
                            <div class="col-md-4 mx-auto">
                                <img src="{{ this_unit.room_tenant.profile_image.url }}" class="img-fluid" style="width: 50px; height: 50px;">
                            </div>
                        </div>
                        <table class="table table-responsive-sm table-hover">
                            <tr>
                                <th>Name:</th>
                                <td>{{ this_unit.room_tenant.first_name}}{{ ' '}}{{ this_unit.room_tenant.last_name}}</td>
                            </tr>
                            <tr>
                                <th>Phone:</th>
                                <td>{{ this_unit.room_tenant.Phone_number}}</td>
                            </tr>
                            <tr>
                                <th>Email:</th>
                                <td>{{ this_unit.room_tenant.email }}</td>
                            </tr>
                            <tr>
                                <th>ID Number</th>
                                <td>{{ this_unit.room_tenant.id_number}}</td>
                            </tr>
                        </table>
                        {% else %}
                        <div class="col-12 text-center">
                            <h5>No tenant yet</h5>
                        </div> 
                        
                        {% endif %}
                        
                        
                    </div>
                </div> 

                <div class="col-12" id="unit_utilities_div" style="display: none;">
                    <div class="container">
                        <div class="row mt-3 p-2">
                            <div class="col-12 d-flex justify-content-between text-success ">
                                <div class="pl-4"><i class="fa fa-dollar-sign mr-4 "></i>Utility providers</div>
                                <div type="button" class="mr-5" data-toggle="modal" data-target="#utility_modal1">
                                    <i class="fa fa-plus-circle mr-4 "></i>add</div>
                            </div>

                            
                            <div class="modal fade " id="utility_modal1">
                                <div class="modal-dialog ">
                                <div class="modal-content">
                            
                                    
                                    <div class="modal-header">
                                    <h4 class="modal-title text-success">Add utility provider</h4>
                                    <button type="button" class="close text-danger" data-dismiss="modal">&times;</button>
                                    </div>
                            
                                    
                                    <div class="modal-body">
                                        <p class="text_secondary mb-2"> This information would be shared with tenants</p>
                                        <form action="/action_page.php">
                                            <div class="form-group">
                                              <label for="email">Utility Name:</label>
                                              <input type="email" class="form-control" id="email">
                                            </div>
                                            <div class="form-group">
                                                <label for="email">Utility Provider Type:</label>
                                                <select name="cars" class="custom-select">
                                                    <option selected>select provider Type</option>
                                                    <option value="volvo">Volvo</option>
                                                    <option value="fiat">Fiat</option>
                                                    <option value="audi">Audi</option>
                                                  </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="email">Proffessional First Name:</label>
                                                <input type="email" class="form-control" id="email">
                                            </div>
                                            <div class="form-group">
                                                <label for="email">Proffessional Last Name:</label>
                                                <input type="email" class="form-control" id="email">
                                            </div>
                                            <div class="form-group">
                                                <label for="email">Proffessional company:</label>
                                                <input type="email" class="form-control" id="email">
                                            </div>
                                            <div class="form-group">
                                                <label for="email">Proffessional contact:</label>
                                                <input type="email" class="form-control" id="email">
                                            </div>
                                            <div class="d-flex justify-content-between ">
                                                <div class="btn btn-success">create</div>
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">cancel</button>
                                            </div>
                                            
                                            
                                        </form>
                                    </div>
                        
                                </div>
                                </div>
                            </div>
                            



                            <div class="col-12 text-center" >No utility provider added</div>
                    
                        </div>
                    </div>
                </div>


            </div>
            
            </div>
            
            
            
        </div>
    </div>
</div>

{% endblock %}
{% block js %}
<script>
    
   
    $(document).ready(function(){
        $("#unit_profile").click(
            function(){
                $("#unit_financials_div").hide();
                $("#unit_specs_div").hide();
                //$("#unit_utilities_div").hide();
                $("#unit_financials, #unit_specs").removeClass("bg-white");
                $("#unit_financials, #unit_specs").removeClass("text-primary");
                $("#unit_profile").addClass("bg-white");
                $("#unit_profile").addClass("text-primary");
                $("#unit_profile_div").css("display","block");
                return false;

            });
     
        $("#unit_financials").click(
            function(){
                $("#unit_profile_div").hide();
                $("#unit_specs_div").hide();
                //$("#unit_utilities_div").hide();
                $("#unit_profile, #unit_specs").removeClass("bg-white");
                $("#unit_profile, #unit_specs").removeClass("text-primary");
                $("#unit_financials").addClass("bg-white");
                $("#unit_financials").addClass("text-primary");
                $("#unit_financials_div").css("display","block");
                return false;

            });
       
        $("#unit_specs").click(
            function(){
                $("#unit_profile_div").hide();
                $("#unit_financials_div").hide();
                $("#unit_utilities_div").hide();
                $("#unit_profile, #unit_financials").removeClass("bg-white");
                $("#unit_profile, #unit_financials").removeClass("text-primary");
                $("#unit_specs").addClass("bg-white");
                $("#unit_specs").addClass("text-primary");
                $("#unit_specs_div").css("display","block");
                return false;

        });
        // $("#unit_utilities").click(
        //     function(){
        //         $("#unit_profile_div").hide();
        //         $("#unit_financials_div").hide();
        //         $("#unit_specs_div").hide();
        //         $("#unit_utilities_div").css("display","block");
        //         return false;

        // });
    });
    </script>

{% endblock %}