{% extends 'nyumba/landlord/base.html' %}
{% load static %}
{% block css %}
<style>

/* Style The Dropdown Button */
.dropbtn {
  background-color: #4CAF50;
  color: white;
  padding: 8px;
  font-size: 16px;
  border: none;
  cursor: pointer;
  border-radius: 10px;
  margin-right: 28px;
}

/* The container <div> - needed to position the dropdown content */
.dropdown {
  position: relative;
  display: inline-block;
}

/* Dropdown Content (Hidden by Default) */
.dropdown-content {
  display: none;
  position: absolute;
  background-color: #f9f9f9;
  min-width: 160px;
  width: 200px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}

/* Links inside the dropdown */
.dropdown-content a {
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
}

/* Change color of dropdown links on hover */
.dropdown-content a:hover {background-color: #f1f1f1}

/* Show the dropdown menu on hover */
.dropdown:hover .dropdown-content {
  display: block;
}

/* Change the background color of the dropdown button when the dropdown content is shown */
.dropdown:hover .dropbtn {
  background-color: #3e8e41;
}

.unit_circle{
    width: 150px;
    height: 150px;
    border-radius: 50%;
    border: 2px solid lightblue;
}
.occupancy_circle{
    width: 100px;
    height: 100px;
    border-radius: 50%;
    background-color: #fff;
}
@media (max-width: 767px) {
    #extra_info{
        display: none;
    }
}
.i_store{
    background-color: gray;
}
.i_store:hover{
    background-color: rgb(85, 172, 212);
    cursor: pointer;
}

 

</style>
{% endblock %}
{% block content %} 
<div class="container mt-4 pl-0 ml-0 pr-0 mr-0 mb-5 mx-auto bg-white ">
    <div class="row mt-1 bg-white ">
        <div class="col-auto col-md-12 bg-white">
        <nav aria-label="breadcrumb " class="second bg-white">
            <ol class="breadcrumb indigo lighten-6 first shadow-lg bg-white px-md-4">
            <li class="breadcrumb-item font-weight-normal ">
                <a class="black-text text-capitallize text-secondary" href="{% url 'nyumba:landlord_home' %}">
                <span class="mr-md-3 mr-2">Dashboard</span>
                </a>
                <i class="fa fa-angle-double-right icons" aria-hidden="true"></i>
            </li>
            <li class="breadcrumb-item font-weight-normal">
                <a class="black-text text-capitallize text-secondary  " href="{% url 'nyumba:stores' %}">
                <span class="mr-md-3 mr-2">stores</span>
                </a>
                <i class="fa fa-angle-double-right icons" aria-hidden="true"></i>
                </li>
            <li class="breadcrumb-item font-weight-bold">
                <a class="black-text text-capitallize active-2" href="#">
                <span>{{ current_store.store_name }}</span></a></li>
            </ol>
        </nav>
        </div>
    </div>
    <div class="d-flex bg-light mt-4">
        <div class="p-2 mr-4 align-self-center text-primary">
            <i class="fa fa-arrow-left"></i>
        </div>
        <div class="p-2 align-self-center text-primary">{{ current_store.store_name }}</div>
        <div class="dropdown  pr-3 ml-auto align-self-center">
            <button class="dropbtn">actions<i class="fa fa-ellipsis-h  ml-3"></i></button>
            <div class="dropdown-content">
                <a class="d-flex justify-content-between text-success" href="#">
                    <div class="p-1">edit store</div>
                    <div class="p-1">
                        <i class="fa fa-cog"></i>
                    </div>
                </a>
                <a class="d-flex justify-content-between text-secondary" href="#">
                    <div class="p-1">archive store</div>
                    <div class="p-1">
                        <i class="fa fa-home"></i>
                    </div>
                </a>
                <a class="d-flex justify-content-between text-danger" href="#">
                    <div class="p-1">delete store</div>
                    <div class="p-1">
                        <i class="fa fa-trash-alt"></i>
                    </div>
                </a>
            </div>
          </div>
        
        
    </div> 
    <div class="row mt-0 mr-3 pl-1 ml-0 ">
        <div class="col-sm-3 bg-light pl-0 ml-0">
            <div class="row p-0 m-0">
                <div class="card" style="object-fit:cover;">
                    <img class="img-fluid img-thumbnail" src="{{ current_store.store_image.url }}" alt="Card image cap" 
                    >
                    <div class="card-body">
                      <h4 class="card-title text-center">{{ current_store.store_name }}</h4>
                      <div class="mx-auto text-center"><i class="fa fa-map-marker-alt text-center"></i></div>
                      <p class="card-text text-center">{{ current_store.store_location }}</p>
                    </div>
                  </div>
            </div>
            
            
            
            
        </div>
        <div class="col-sm-9 ">
            <div class="row m-0 p-0 bg-light">
                <div class="col-12">

                    
                    <div class="d-flex justify-content-between border border-primary border-bottom-0 bg-secondary text-white">
                        <div class="p-2 w-100 i_store bg-white text-center text-primary" id="store_profile">
                            
                                <div class=" w-100 text-center" >General Information</div>
                            
                        </div>
                        
                        <div class="p-2 w-100 i_store text-center  border border-white" id="store_mzigo">Stored Mzigo</div>
                        <div class="p-2 w-100 i_store text-center border border-white" id="store_financials">Financials</div>
                        <!-- <div class="p-2 w-100 text-center property_nav border border-white" id="utilities">utilities</div> -->
                    </div>
                    



                  
                </div>
                <div class="col-12 bg-white " id="store_general" style="display: block;">
                    <div class="container pt-3 border border-primary border-top-0 ">
                        
                        <div class="row m-0 p-0 mt-4">
                            
                            <div class="col-sm-6 text-left ">
                                <div class="col-12 ">Store Name:</div>
                                <div class="col-12 text-primary">{{ current_store.store_name }}</div>
                              
                            </div>
                            <div class="col-sm-6 text-leftr">
                                
                                    <div class="col-12 ">Store Plot:</div>
                                    <div class="col-12 text-primary">{{ current_store.store_name }}</div>
                               
                                
                            </div>
                        </div>
                        <div class="row m-0 p-0 ">
                            <div class="col-6 mt-3 text-left">
                                <div class="col-12 ">Available Space</div>
                                <div class="col-12  text-primary">{{ vacant_units }} units</div>
                            </div>
                            <div class="col-6 mt-3 text-left">
                                <div class="col-12 ">Total Space</div>
                                <div class="col-12 text-primary">{{ all_units }} units</div>
                            </div>
                        </div>
                        <div class="row m-0 p-0 mt-4">
                            <div class="col-12">Store status:</div>
                            <div class="col-12 text-primary">
                                Good
                                
                            </div>
                        </div>
                        
                        



                    </div>
                </div>
                <div class="col-12 bg-white" id="store_mzigo_div" style="display: none;">
                    <div class="container pt-3 border border-primary border-top-0">

                        <div class="row m-0 p-0">
                            <div class="col-xl-12 mb-5">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="header-title pb-3 mt-0">Stored Mzigo</h5>
                                        <div class="table-responsive">
                                            <table class="table table-hover mb-0">
                                                <thead>
                                                    <tr class="align-self-center">
                                                        <th>Unit No.</th>
                                                        <th>Client Name</th>
                                                        <th>Stored Goods</th>
                                                        <th>Starting date</th>
                                                        <th>Ending date</th>
                                                        <th>Amount</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    {% for s in stored_mzigo %}
                                                    <tr>
                                                        <td>{{ s.applied_unit.unit_number }}</td>
                                                        <td><img src="{{ s.applying_user.profile_image.url }}" alt="" class="thumb-sm img-fluid rounded-circle mr-2" 
                                                            style="width: 20px; height: 20px; object-fit: cover;">{{ s.applying_user.first_name }}{{' '}} {{ s.applying_user.last_name }}</td>
                                                        <td>{{ s.goods }}</td>
                                                        <td>{{ s.starting_date }}</td>
                                                        <td>{{ s.ending_date }}</td>
                                                        <td>Ksh.1</td>
                                                        
                                                    </tr>
                                                    {% endfor %}
                                                   
                                                </tbody>
                                            </table>
                                        </div>
                                        <!--end table-responsive-->
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                        </div> 
                    </div> 
                </div>

                <div class="col-12 bg-white" id="store_financial_div" style="display: none;">
                    <div class="container pt-3 border border-primary border-top-0">
                        <div class="row m-0 p-0">
                            <div class="col-xl-12 mb-5">
                                <div class="card">
                                    <div class="card-body">
                                        <h5 class="header-title pb-3 mt-0">Payments</h5>
                                        <div class="table-responsive">
                                            <table class="table table-hover mb-0">
                                                <thead>
                                                    <tr class="align-self-center">
                                                        <th>Unit No.</th>
                                                        <th>Client Name</th>
                                                        <th>Method</th>
                                                        <th>Payment date</th>
                                                        <th>Amount</th>
                                                        <th>Status</th>
                                                    </tr>
                                                </thead>
                                                <tbody>
                                                    
                                                    <tr></tr>
                                                    <!-- <tr>
                                                        <td>B10</td>
                                                        <td><img src="https://bootdey.com/img/Content/avatar/avatar1.png" alt="" class="thumb-sm rounded-circle mr-2"> Kevin Heal</td>
                                                        <td>House items</td>
                                                        <td>5/8/2018</td>
                                                        <td>Ksh. 15,000</td>
                                                        <td><span class="badge badge-boxed badge-success">success</span></td>
                                                        
                                                    </tr> -->
                                                    <!-- <tr>
                                                        <td>A44</td>
                                                        <td><img src="https://bootdey.com/img/Content/avatar/avatar2.png" alt="" class="thumb-sm rounded-circle mr-2"> Frank M. Lyons</td>
                                                        <td>Mattress</td>
                                                        <td>15/7/2018</td>
                                                        <td>Ksh.35,000</td>
                                                        <td><span class="badge badge-boxed badge-success">success</span></td>
                                                       
                                                    </tr> -->
                                                    <!-- <tr>
                                                        <td>A2</td>
                                                        <td><img src="https://bootdey.com/img/Content/avatar/avatar3.png" alt="" class="thumb-sm rounded-circle mr-2"> Angelo Butler</td>
                                                        <td>cloths</td>
                                                        <td>30/9/2018</td>
                                                        <td>Ksh.45,000</td>
                                                        <td><span class="badge badge-boxed badge-success">success</span></td>
                                                        
                                                    </tr> -->
                                                    <!-- <tr>
                                                        <td>A10</td>
                                                        <td><img src="https://bootdey.com/img/Content/avatar/avatar4.png" alt="" class="thumb-sm rounded-circle mr-2"> Phillip Morse</td>
                                                        <td>House holds</td>
                                                        <td>2/6/2018</td>
                                                        <td>Ksh.70,000</td>
                                                        <td><span class="badge badge-boxed badge-success">success</span></td>
                                                        
                                                    </tr> -->
                                                    
                                                </tbody>
                                            </table>
                                        </div>
                                        <!--end table-responsive-->
                                        
                                    </div>
                                </div>
                            </div>
                        </div>
                        
                    </div>
                </div> 

                <div class="col-12" id="store_utilities_div" style="display: none;">
                    <div class="container">
                        <div class="row mt-3 p-2">
                            <div class="col-12 d-flex justify-content-between text-success ">
                                <div class="pl-4"><i class="fa fa-dollar-sign mr-4 "></i>Utility providers</div>
                                <div type="button" class="mr-5" data-toggle="modal" data-target="#utility_modal"><i class="fa fa-plus-circle mr-4 "></i>add</div>
                            </div>

                            
                            <div class="modal fade " id="utility_modal">
                                <div class="modal-dialog ">
                                <div class="modal-content">
                            
                                    
                                    <div class="modal-header">
                                    <h4 class="modal-title text-success">Add utility provider</h4>
                                    <button type="button" class="close text-danger" data-dismiss="modal">&times;</button>
                                    </div>
                            
                                    
                                    <div class="modal-body">
                                        <p class="text_secondary mb-2"> This information would be shared with tenants</p>
                                        <form action="/action_page.php">
                                            <div class="form-group">
                                              <label for="email">Utility Name:</label>
                                              <input type="email" class="form-control" id="email">
                                            </div>
                                            <div class="form-group">
                                                <label for="email">Utility Provider Type:</label>
                                                <select name="cars" class="custom-select">
                                                    <option selected>select provider Type</option>
                                                    <option value="volvo">Volvo</option>
                                                    <option value="fiat">Fiat</option>
                                                    <option value="audi">Audi</option>
                                                  </select>
                                            </div>
                                            <div class="form-group">
                                                <label for="email">Proffessional First Name:</label>
                                                <input type="email" class="form-control" id="email">
                                            </div>
                                            <div class="form-group">
                                                <label for="email">Proffessional Last Name:</label>
                                                <input type="email" class="form-control" id="email">
                                            </div>
                                            <div class="form-group">
                                                <label for="email">Proffessional company:</label>
                                                <input type="email" class="form-control" id="email">
                                            </div>
                                            <div class="form-group">
                                                <label for="email">Proffessional contact:</label>
                                                <input type="email" class="form-control" id="email">
                                            </div>
                                            <div class="d-flex justify-content-between ">
                                                <div class="btn btn-success">create</div>
                                                <button type="button" class="btn btn-danger" data-dismiss="modal">cancel</button>
                                            </div>
                                            
                                            
                                        </form>
                                    </div>
                        
                                </div>
                                </div>
                            </div>
                            



                            <div class="col-12 text-center" >No utility provider added</div>
                    
                        </div>
                    </div>
                </div>


            </div>
            
            </div>
            
            
            
        </div>
    </div>
</div>

{% endblock %}
{% block js %}
<script>
   
    $(document).ready(function(){
        $("#store_profile").click(
            function(){
                $("#store_mzigo_div").hide();
                $("#store_financial_div").hide();
                $("#store_utilities_div").hide();
                $("#store_mzigo, #store_financials").removeClass("bg-white");
                $("#store_mzigo, #store_financials").removeClass("text-primary");
                $("#store_profile").addClass("bg-white");
                $("#store_profile").addClass("text-primary");
                $("#store_general").css("display","block");
                return false;

            });
      
        $("#store_mzigo").click(
            function(){
                $("#store_general").hide();
                $("#store_financial_div").hide();
                $("#store_utilities_div").hide();
                $("#store_financials, #store_profile").removeClass("bg-white");
                $("#store_financials, #store_profile").removeClass("text-primary");
                $("#store_mzigo").addClass("bg-white");
                $("#store_mzigo").addClass("text-primary");
                $("#store_mzigo_div").css("display","block");
                return false;

            });
       
        $("#store_financials").click(
            function(){
                $("#store_general").hide();
                $("#store_mzigo_div").hide();
                $("#store_utilities_div").hide();
                $("#store_mzigo, #store_profile").removeClass("bg-white");
                //$("#financials").removeClass("bg-white");
                $("#store_mzigo, #store_profile").removeClass("text-primary");
                $("#store_financials").addClass("bg-white");
                $("#store_financials").addClass("text-primary");
                $("#store_financial_div").css("display","block");
                return false;

        });
        // $("#store_utilities").click(
        //     function(){
        //         $("#store_general").hide();
        //         $("#store_mzigo_div").hide();
        //         $("#store_financial_div").hide();
        //         $("#store_utilities_div").css("display","block");
        //         return false;

        // });
    });
    </script>

{% endblock %}