{% extends 'nyumba/landlord/base.html' %}
{% load static %}
{% block css %}
<style>
  /* body{
    background:#f2f3f7;
    margin-top:20px;
    } */
.m-b-30 {
    margin-bottom: 30px;
}
p{
color: #8A98AC;    
}
.table-borderless td {
    border: 0 !important;
}
.table td {
    color: #8A98AC;
    vertical-align: middle;
    border-top: 1px solid rgba(0, 0, 0, 0.03);
    padding: 0.6rem;
}
.btn-primary-rgba {
    background-color: rgba(80, 111, 228, 0.1);
    border: none;
    color: #506fe4;
}
.btn-success-rgba {
    background-color: rgba(67, 209, 135, 0.1);
    border: none;
    color: #43d187;
}
.card {
    border: none;
    border-radius: 3px;
    background-color: #ffffff;
}
</style>
{% endblock %}

{% block content %}
<div class="container-fluid">
    <div class="row">
        <div class="col-auto col-12 bg-white">
            <nav aria-label="breadcrumb " class="second bg-white">
                <ol class="breadcrumb indigo lighten-6 first shadow-lg bg-white px-md-4">
                <li class="breadcrumb-item font-weight-normal ">
                    <a class="black-text text-capitallize text-secondary" href="{% url 'nyumba:landlord_home' %}">
                    <span class="mr-md-3 mr-2">Dashboard</span>
                    </a>
                    <i class="fa fa-angle-double-right icons" aria-hidden="true"></i>
                </li>
                <li class="breadcrumb-item font-weight-normal">
                    <a class="black-text text-capitallize text-secondary" href="{% url 'nyumba:properties' %}">
                    <span class="mr-md-3 mr-2">properties</span>
                    </a>
                    <i class="fa fa-angle-double-right icons" aria-hidden="true"></i
                    </li>
                <li class="breadcrumb-item font-weight-bold">
                    <a class="black-text text-capitallize active-2" href="#">
                    <span>{{ current_plot.property_name }}</span></a></li>
                </ol>
            </nav>
            </div>
        </div>
        <div class="row m-0 p-0 mt-4 ">
            <div class="col-12 text-primary m-2">
                <h4 style="text-decoration: underline;">{{ current_plot.property_name }}{{ ' '}} Units</h4>
            </div>
            {% for a in all_units %}
            <div class="col-md-4">
                <div class="card bg-light" style="border: 10px solid transparent;border-image: url({% static 'User_account/images/section1.jpg' %}) 30 stretch;">
                    <div class="card-body ">
                        <div class="row">
                            <div class="col-lg-3 text-center">
                                <img src="{{ a.room_image.url }}" class="img-fluid mb-3" alt="user" />
                            </div>
                            <div class="col-lg-9">
                                <h4>{{ a.room_name }}</h4>
                                <p>{{ a.room_plot.property_name }}</p>
                                <div class="button-list mt-4 mb-3">
                                    {% if a.room_status == False %}
            
                                    <button type="button" class="btn btn-primary-rgba">
                                        <i class="feather icon-message-square mr-2"></i>vacant
                                    </button>
                                    {% else %}
                                    <button type="button" class="btn btn-success-rgba">
                                        <i class="feather icon-phone mr-2"></i>occupied</button>
                                    {% endif%}
                                    
                                </div>
                                <div class="table-responsive">
                                    <table class="table table-borderless mb-0">
                                        <tbody>
                                            <tr>
                                                <th scope="row" class="p-1">market rent :</th>
                                                <td class="p-1">{{ a.market_rent }}</td>
                                            </tr>
                                            <tr>
                                                <th scope="row" class="p-1"> minimum deposit:</th>
                                                <td class="p-1 text-success">{{ a.min_deposit }}</td>
                                            </tr>
                                            {% if a.room_tenant %}
                                            <tr> 
                                                <th scope="row" class="p-1">Tenant :</th>
                                                <td class="p-1">Tenant Name</td>
                                            </tr>
                                            {% else %}
                                            {% endif %} 
                                            <!-- <tr>
                                                <th scope="row" class="p-1">Email ID :</th>
                                                <td class="p-1">demo@mail.com</td>
                                            </tr> -->
                                        </tbody>
                                    </table>
                                    <a href="{% url 'nyumba:individual_units' unitId=a.id %}">
                                        <button type="button" class="btn btn-success-rgba border border-success">
                                            <i class="feather icon-phone mr-2"></i>view unit details</button>
                                    </a>
                                    
                                </div>
                            </div>
                        </div>
                    </div>
                </div>

        </div>
        {% endfor %}
  
</div>


{% endblock %}
{% block js %}
{% endblock %}