{% extends 'nyumba/landlord/landlord_base.html' %}
{% load static %}
{% block css %}

{% endblock %}
{% block content %} 
<div class="container">
    <form action="#" method="POST">
        <div class="row">
            <div class="col-sm-12">
                <h4 class="text-center text-success mt-3">add a store</h4>
            </div>
            <div class="col-md-4 mt-4">
                <div class="card">
                    <div class="card-header bg-primary">choose currency</div>
                    <div class="card-body">
                      <p class="card-text">
                        You need to select the currency for this property accounting! 
                        Please note, you will not be able to edit it !!!
                      </p>
                      <div class="form-group">
                        <label for="email">currency:</label>
                        <input type="text" class="form-control" id="currency">
                      </div>
                    </div>
                  </div>
                  <div class=" w-100 mt-5">
                    <div class="custom-file">
                        <input type="file" class="custom-file-input" id="customFile">
                        <label class="custom-file-label" for="customFile">upload store photo</label>
                    </div>
                  </div>
             
            </div>
            <div class="col-md-8">
                <div class="container">
                    <div class="row">
                        <div class="col-12 mt-3 m-2">
                            <div class="row m-3 p-0">
                                <div class="col-12">store General information</div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="email">Store Name:</label>
                                        <input type="text" class="form-control" id="currency">
                                    </div>
                                    
                                   
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="email">Year built:</label>
                                        <input type="number" class="form-control" id="currency">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="email">mls#:</label>
                                        <input type="text" class="form-control" id="currency">
                                    </div>
                                </div>
                            </div>
                            <div class="row m-3 p-0">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="email">street address:</label>
                                        <input type="text" class="form-control" id="currency">
                                    </div>
                                    
                                   
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="email">city:</label>
                                        <input type="text" class="form-control" id="currency">
                                    </div>
                                </div>
                                <div class="col-sm-3">
                                    <div class="form-group">
                                        <label for="email">country:</label>
                                        <input type="text" class="form-control" id="currency">
                                    </div>
                                </div>
                            </div>
                            <div class="row m-3 p-0">
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="email">State/region:</label>
                                        <input type="text" class="form-control" id="currency">
                                    </div>
                                    
                                   
                                </div>
                                <div class="col-sm-6">
                                    <div class="form-group">
                                        <label for="email">zip:</label>
                                        <input type="number" class="form-control" id="currency">
                                    </div>
                                </div>
                                <div class="col-sm-12">
                                    <div class="row">
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="email">Store Unit Space:</label>
                                                <input type="text" class="form-control" id="currency">
                                            </div>
                                            
                                           
                                        </div>
                                        <div class="col-sm-6">
                                            <div class="form-group">
                                                <label for="email">Store Unit Naming:</label>
                                                <input type="text" class="form-control" id="currency">
                                            </div>
                                            
                                           
                                        </div>

                                        
                                    </div>
                                </div>
                                
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>


        <div class="row m-0 p-0">
            <div class="col-12 "> 
                <div class=" row d-flex justify-content-around">
                    <button class="btn border border-danger text-danger">cancel </button>
                    <button class="btn btn-success">create</button>

                </div>
            </div>

        </div>
       

    </form>
</div>


{% endblock %}
{% block js %}
<script>
    
</script>

{% endblock %}